.HOME{
    background-image: url("home.jpg");
    background-size: cover;
    height: 700px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 750px;
    margin-top: -35px;
}
.nav>a{
    text-decoration: none;
    color: white;
}
.home{
    color: white;
    font-size: xx-large;
    padding-top: 70px;
    text-align: center;
}
.logo{
    margin-left: 1290px;
    height: 100px;
    padding-top: 30px;
}
.ABOUT{
    height:700px ;
}
.ABOUT1>img{
    width: 400px;
    padding-top: 100px;
    padding-left: 50px;
}